body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

nav {
  display: block;
  margin: 13px 13px 34px 13px;
}

nav a {
  display: inline-block;
  padding: 5px 13px;
  color: mediumseagreen;
}

main {
  /*margin: 0 30px;*/
}