html { /* equivalent to :root in HTML */
  --bg-color: #ccc;
  --text-color: #000;

  color: var(--text-color);
  background: var(--bg-color);
}

main {
  margin: 0 1rem;
}

h1 {
  color: var(--text-color);
}

#theme-selector {
  display: inline-flex;
}

#theme-selector label {
  margin-right: 1rem;
}

html.theme--dark {
  --bg-color: #111;
  --text-color: pink;
}

html.theme--funky {
  --bg-color: darkmagenta;
  --text-color: magenta;
}
