body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

nav {
  margin: 0;
}

.item {
  margin-bottom: 24px;
}

.item__figure {
  margin: 0;
}

.item__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rectangle {
  position: relative;
  border: 1px solid #333;
  width: 100%;
  height: 0;
}

.rectangle-16-9 {
  padding-bottom: calc(100% / 16 * 9);
}

.square {
  padding-bottom: 100%;
}

@media (min-width: 640px) {
  
  .item {
    float: left;
  }

  .item-a {
  }

  .item-b {
  }

  .item-c {
  }

  .item-d {
  }
}