@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@623&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Playfair Display", Georgia, serif;
  font-size: 16px;
  font-variation-settings: 'wdth' 50, 'wght' 100;
}

nav {
  margin: 0;
}

h1 {
  font-size: 2.1em;
}

main {
  margin: 0 16px;
}

.item {
  margin-bottom: 40px;
}

.item__figure {
  margin: 0;
}

.item__img {
  max-width: 100%; /* limit the image width to screen width */
  border: 1px solid #555;
}

.item__link {
  display: inline-block;
  margin: 8px 0 8px;
  font-size: 1.3em;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.item__link:hover {
  /*transform: translateY(-50%);*/
}

.item__author {
  margin: 0;
  font-size: 1em;
}

@media (min-width: 480px) {
  body {
    font-variation-settings: 'wdth' 60, 'wght' 300;
  }
}

@media (min-width: 640px) {

  body {
    font-variation-settings: 'wdth' 70, 'wght' 500;
    background: #F5F4EB;
  }

  .intro {
    max-width: 480px;
  }

  .grid {
    margin: 64px 0 0 0;
  }

  /* this is your base rectangle */
  .rectangle {
    position: relative;
    width: 100%;
    height: 0;
  }

  /* for 16:9 format */
  .rectangle-16-9 {
    padding-bottom: calc(100% / 16 * 9);
  }

  /* for 4:3 format */
  .rectangle-4-3 {
    padding-bottom: calc(100% / 4 * 3);
  }

  /* for 3:5 format */
  .rectangle-3-5 {
    padding-bottom: calc(100% / 3 * 5);
  }

  /* for 13:5 format */
  .rectangle-13-5 {
    padding-bottom: calc(100% / 13 * 5);
  }

  /* for 2:7 format */
  .rectangle-2-7 {
    padding-bottom: calc(100% / 2 * 7);
  }

  /* for square format */
  .square {
    padding-bottom: 100%;
  }

  /* this makes item go next to each other */
  .item {
    float: left;
    margin: 0 24px 40px 0;
  }

  /* this covers your chosen rectangle with the image */
  /* if the image does not fit the given rectangle, it will be automatically centered and masked by the rectangle */
  .item__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Add different properties for items here, e. g. width, height, padding or try & see what happens! */
  .item-a {
    width: 55%;
  }

  .item-a .item__link {
    font-size: 3.4em;
  }

  .item-b {
    width: 34%;
  }

  .item-b .item__link {
    font-size: 2.1em;
  }

  .item-c {
    width: 21%;
  }

  .item-3 .item__link {
    font-size: 1.3em;
  }

  .item-d {
    width: 13%;
  }
}

@media (min-width: 720px) {
  body {
    font-variation-settings: 'wdth' 80, 'wght' 600;
  }
}

@media (min-width: 960px) {
  body {
    font-variation-settings: 'wdth' 90, 'wght' 750;
  }
}

@media (min-width: 1080px) {
  body {
    font-variation-settings: 'wdth' 90, 'wght' 800;
  }

  main {
    margin: 0 40px;
  }
  
  h1 {
    text-align: right;
  }
  
  .intro {
    float: right;
    text-align: right;
    margin-bottom: 80px;
  }

  .grid {
    clear: both;
  }

  .item {
    float: right;
    margin: 0 0 64px 40px;
  }

  .item__img {
    /*border: 5px solid rgba(50,50,50,.1);*/
  }

  .item-a figcaption {
    text-align: center;
  }

  .item-c figcaption,
  .item-d figcaption {
    text-align: right;
  }

  .item-b .item__img {
    border-radius: 10vw 0 0 0;
  }

  .square .item__img {
    border-radius: 50%;
  }
}

@media (min-width: 1440px) {
  body {
    font-variation-settings: 'wdth' 100, 'wght' 900;
  }
}